.App {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pokedex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

/* App.css */
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  gap: 20px;
}

.pokemon-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  width: 300px;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.pokemon-card h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 20px;
  gap: 20px;
}

.button {
    height: 30px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
}

.button-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  height: 400px;

}

.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.pokemon img {
  width: auto;
  height: 300px;
}

.pokemon-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.stat {
  margin-right: 40px;
}

.pokemon-right p {
  margin-right: 20px;
}